.login{
    min-height: 500px;
    width: 400px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin: 40px 0px;
}
.title{
    margin-top: 20px;
    height: auto;
    width:auto;
    margin-bottom: 35px;
    font-family: Poppins;
    font-weight: 900;
}
.container{
    justify-content: space-evenly;
    /* padding-left: 50px; */
    flex-flow: wrap;
}

body{
    font-family: 'Quattrocento sans','Poppins','Open sans', sans-serif;
    color: darkslategray;
}

body,html{
    min-height: 100%;
    width: 100%;
    background-color: #ECF0F3;
}


.loginForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.inputBox{
    height: 45px;
    width: 70%;
    display:flex;
    padding: 0px 20px;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}
.inputBox input{
    background-color: transparent;
    border:none;
    outline: none;
    width: 100%;
    font-size: 13px;
    font-family: 'Quattrocento sans', 'Poppins', 'Open sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputBox input::placeholder{
    color: black;
    opacity: 80%;
    
}
.inputBox a{
    color: darkslategray;
    text-decoration: none;
    font-weight: 600;
    font-family: Poppins;
    cursor: pointer;
}

.loginBtn{
    margin-bottom: 25px;
}


.inputBox.outward{
    margin-top: 20px;
    height: 50px;
    justify-content: center;
}

.loginForm .forgot{
    width: 75%;
    text-align: left;
}
.forgot a{
    text-decoration: none;
    color: darkslategray;
    font-weight: 600;
    opacity: 70%;
}
.loginForm > a{
    font-weight: 600;
    opacity: 70%;
    cursor: pointer;
}
.loginForm > a > span{
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.brands{

    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;

}

.brands .outward{

    height: 45px;
    width: 45px;
    border-radius: 10px;
    margin: 10px 20px;
    cursor: pointer;

}

.brands img{
    height: 20px;
    width: 20px;
}

.hero{

    max-width: 100%;
    font-family: Poppins;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.hero div, .hero svg{

    max-width: 100%;
    width: 300px !important;
    height:300px !important;
    
}
lottie-player {

    max-width: 100% ;
    max-height: auto;
    width: 400px;
    height: 400px

}



.hero h1{

    font-weight: 900;
    margin-bottom: 20px;

}
.hero h3{

    font-weight: 700;

}

.mainCont{

    display: flex;
    width: 100%;
    padding-top: 20px;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: auto;
  
}

.mainCont.log{

    flex-flow: wrap;
    flex-wrap: wrap-reverse;
    

}

.mainCont.log .inputBox.inward{

    margin-bottom: 10px;

}
.mainCont.log .inputBox.outward{

    margin-bottom: 10px;

}

.mainCont.reg{

    flex-flow: wrap;

}

.inputBox.outward.logoutBtn{

    width: 200px;

}

.mainCont.chat{

    justify-content: center;
    flex-direction: column;

}

.mainCont.chat .logoutBtn{
    
    background-color: rgba(255,0,0,0.5);

}

.mainCont.chat .logoutBtn a{

    color: white;

}
